<h1 class="logo"><i class="icon-logo"><img alt="Acorn Amps" src="images/acorn-amps.svg"></i><span class="hide">Acorn Amps</span></h1>
<article>
	<p><strong>Hello</strong>! Welcome to <strong>Acorn Amps</strong>, where your ailing gear will find the
	 fastest, friendliest <del>rocket</del> amplifier
	 <i class="icon-beaker"></i> scientists <strong>in town</strong>. Is your beloved
	 gadget gathering dust in a <i class="icon-building"></i> warehouse, unloved and uncared for?
	 <a href="#find-us">Bring it by</a> Acorn Amps, where one of our gentle <del>giants</del> <strong>geniuses</strong> <i class="icon-lightbulb"></i>
	 will pamper it with a warm cookie and a good
	 <i class="icon-heart"></i> snuggle. We use all <i class="icon-leaf"></i> organic, farm-raised <i class="icon-code-fork icon-large"></i> electronic components along with our cave-aged vacuum tubes—the
	 best that money can buy—leaving you with the <i class="icon-smile"></i> <strong>peace of mind</strong> that your gear
	 will <i class="icon-volume-up"></i> melt faces for years to come.
	</p>
	<p>We <del>make love to</del> service <strong>Guitar Amps</strong>, <strong>Bass Amps</strong>,
	<strong>Power Amps</strong>, <strong>Mic Preamps</strong>, <strong>FX
	Pedals</strong>, <strong>Keyboards</strong>, <strong>Consoles</strong>, <strong>Mixers</strong>, <strong>Power Supplies</strong>,
	<strong>Speakers</strong>, <strong>Microphones</strong>, and pretty much anything else you can plug into, so give us a call at <a href="tel:4073253896">(407) 325-3896</a>, and let us know <del>what your favorite cookie is</del> what we can do for you.</p>
</article>